html,
body { 
  padding: 0rem;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:large;
  display: flex;
  justify-content: center;
 padding-top:0.6rem;
}


.TableWrapper{ 
  display:flex;
  justify-content: center;
  
} 


main{
  display: flex!important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.MainTable{
  width: 100%;
}
@media (max-width:900px){
  
  body{

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:1rem!important;
  } 
  html{
    padding-top:0;
  }

  main{
    gap:0rem;
  }

  .Dashboard{
    margin-bottom:1.35rem;
  }
}

.BtnSpecs{
  bottom:20px;
  right:15px;
}


@media screen and (min-width:1278px){
  .Dashboard{
    margin-bottom:1rem;
     
  }
  .MainTable{
    min-width:130%!important;
  }
}