html,
body { 
  padding: 0rem;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
  display: flex;
  justify-content: center;
 padding-top:2rem;
}

.TableWrapper{ 
  display:flex;
  justify-content: center;
  
} 